<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422493089123-ntt4hmj7r9j3g8cvah2782kfai3vfmg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422493089123-ntt4hmj7r9j3g8cvah2782kfai3vfmg8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>422493089123-fgte0dtaslj7bk5ff8fp4bnt7k6u5mud.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1UixooTcR68h-1U4JnE4Dsh6cQ4PLjbI</string>
	<key>GCM_SENDER_ID</key>
	<string>422493089123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sdss.planter</string>
	<key>PROJECT_ID</key>
	<string>planttagger</string>
	<key>STORAGE_BUCKET</key>
	<string>planttagger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422493089123:ios:61d249b3d319a4bb6ff756</string>
</dict>
</plist>